# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

/STM32/Debug/

# IDE settings which changes for every machine
/STM32/.settings/

# Python version file
.python-version

# KiCad backups
/KiCad/FIRM-backups
/KiCad/FIRM_Interestlaunch/FIRM_Interestlaunch-backups
*.bak

# KiCad cache
/KiCad/fp-info-cache
/KiCad/FIRM_Interestlaunch/fp-info-cache

# KiCad local stuff
/KiCad/#auto_saved_files#
/KiCad/_autosave-FIRM.kicad_sch
*.kicad_prl
*.lck
how-to-import.htm


# FIRM code
/STM32/build
mx.scratch
.vscode
/STM32/CMakeFiles
/STM32/CMakeCache.txt
/STM32/build.ninja
cmake_install.cmake
/STM32/compile_commands.json
