ci:
  autofix_prs: true
  autoupdate_schedule: "monthly"

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.2
    hooks:
      - id: clang-format
        files: ^Core/.*\.(c|h)$   # Only run on C source and header files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.3
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/cpp-linter/cpp-linter-hooks
    rev: v1.1.9
    hooks:
      - id: clang-tidy
        args: ["-p=STM32/build", "--warnings-as-errors=*"]
        additional_dependencies: ['clang-tidy']
        files: ^STM32/.*\.(c|h)$
        exclude: |
          (?x)^(
              STM32/Drivers/|
              STM32/Middlewares/|
              STM32/USB_DEVICE/|
              STM32/FATFS/|
              STM32/cmake/|
              STM32/Core/Src/system_stm32f4xx\.c|
              STM32/Core/Src/sysmem\.c|
              STM32/Core/Src/syscalls\.c|
              STM32/Core/Inc/stm32f4xx_hal_conf\.h
          )
